@import "../../default.scss";

.expenseForm {
  flex: 1 1 45%;
  padding: 30px;
  flex-grow: 0;
  margin-bottom: 50px;
  animation: 0.4s fadeInAndBigger forwards;
  @media screen and (max-width: $md) {
    padding: 15px;
    margin-bottom: 0;
    overflow-x: clip;
  }
  @media screen and (min-width: $md) {
    padding: 0px 145px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
  // tabs
  .tabs {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    flex: 1 1;
    @media screen and (min-width: $md) {
      clip-path: inset(-35px -35px -35px -40px);
    }
    .tab-changer-top {
      display: flex;
      flex-direction: row;
      margin-bottom: 25px;
    }
    .tab-changer-bottom {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid #f7f7f7;
      button {
        border: none;
        margin-right: 10px;
        padding: 8px 10px;
        font-weight: 700;
        font-size: 13px;
        background: #00000008;
        color: #181818;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: #00000014;
        }
      }
    }
    .tabs-container {
      display: flex;
      flex-direction: row;
      width: 200%;
      transition: all 0.4s;
      justify-content: space-between;
      @media screen and (min-width: $sm) {
        flex-flow: wrap;
      }
      @media screen and (max-width: $md) {
        transform: translateX(0px);
        width: calc(200% + 50px);
      }
      .tab {
        display: flex;
        background: white;
        flex-direction: column;
        padding: 15px 25px;
        border-radius: 15px;
        width: calc(50% - 35px);
        box-shadow: 0 5px 50px rgb(0 0 0 / 15%);
        transition: all 0.4s;
        &.shadow-none {
          box-shadow: none;
        }
        @media screen and (max-width: $md) {
          width: calc(50% - 25px);
        }
        &.moving {
          animation: 0.3s fadeOutExpense forwards;
        }
        &.stand {
          animation: 0.3s fadeInExpense forwards;
        }
        .add-expense-form {
          padding: 15px 0;
        }
      }
    }
  }
}

@keyframes fadeInExpense {
  from {
    opacity: 0.5;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutExpense {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.5;
    transform: scale(0.92);
  }
}
