@import "../../default.scss";

.expenseSummary {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  padding: 0 20px;
  animation: 0.4s fadeInAndBigger forwards;
  @media screen and (max-width: $md) {
    padding: 0 15px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: $md) {
    padding: 0 45px;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: $md) and (max-width: $xl) {
    padding: 0px 145px !important;
    padding-right: 45px !important;
  }
  .summary-container {
    flex: 1;
    h2 {
      padding: 16px 0px;
      color: #ff8b00;
      padding-top: 0;
    }
    .summary-top {
      display: flex;
      flex-direction: row;
      flex: 1;
      .budget-board {
        display: flex;
        width: 50%;
        justify-content: space-between;
        @media screen and (max-width: $lg) {
          width: 100%;
        }
        ._current-money,
        ._debt {
          display: flex;
          flex-direction: column;
          font-size: 25px;
          font-weight: 500;
          color: red;
          padding: 15px;
          span {
            font-size: 12px;
            font-weight: 400;
            color: red;
            padding: 5px 0 0 0;
            &.gain {
              color: #00e900;
            }
          }
          label {
            font-size: 16px;
            font-weight: 500;
            padding: 0 0px 5px 0;
            color: black;
          }
          .price-row {
            display: flex;
            align-items: center;
            .increase,
            .minus {
              padding: 0;
              font-size: 16px;
              font-weight: 500;
              margin-left: 2px;
              color: $theme_bold-green;
              animation: 0.5s linear toLeftwithFade forwards;
            }
            .minus {
              color: $theme_red !important;
            }
          }
        }
        ._debt {
          label {
            font-size: 16px;
            font-weight: 500;
            padding: 0 0px 5px 0;
            color: black;
          }
        }
        ._current-money {
          flex: 1 1;
          color: #00e900;
          background: #ffffff;
          border-radius: 15px;
          box-shadow: 0 5px 50px rgb(0 0 0 / 15%);
          margin-right: 20px;
        }
        ._debt {
          flex: 1 1;
          color: #ff3131;
          background: #ffffff;
          border-radius: 15px;
          box-shadow: 0 5px 50px rgb(0 0 0 / 15%);
          margin-right: 0;
        }
      }
    }
    .summary-body {
      margin: 38px 0;
      .recent-transactions {
        background: white;
        border-radius: 15px;
        padding-bottom: 5px;
        box-shadow: 0 5px 50px rgb(0 0 0 / 15%);
        h3 {
          padding: 20px;
        }
        ._list {
          margin: 0px 20px;
          li {
            display: grid;
            grid-template-columns: 100px auto 100px 100px 100px;
            color: #181818;
            background: white;
            border-radius: 10px;
            padding: 7px 5px;
            margin-bottom: 10px;
            align-items: center;
            border: 1px solid #e7e7e7;
            font-weight: 600;
            &:hover {
              background-color: #f8f8f8;
            }
            @media screen and (max-width: $md) {
              grid-template-columns: auto 100px 100px;
            }
            &.expense--li {
              .item-price div {
                background-color: #ff3131;
              }
            }
            &.fund--li {
              .item-price div {
                background-color: #00cd35;
              }
            }
            span {
              padding: 4px 15px;
              text-align: center;
              &.item-date {
                font-size: 14px;
                @media screen and (max-width: $md) {
                  display: none;
                }
              }
              &.item-spendingBy {
                font-size: 14px;
              }
              &.item-category {
                font-size: 14px;
                @media screen and (max-width: $md) {
                  display: none;
                }
              }
              &.item-name {
                text-align: left;
                font-size: 14px;
                font-weight: 800;
                color: black;
              }
              &.item-price {
                display: flex;
                text-align: center;
                font-size: 16px;
                font-weight: 800;
                color: white;
                border-radius: 5px;
                justify-content: center;
                div {
                  padding: 5px 15px;
                  background: #ff3131;
                  display: inline-block;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
      .spending-rates {
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: white;
        margin-bottom: 40px;
        border-radius: 15px;
        box-shadow: 0 5px 50px rgb(0 0 0 / 15%);
        position: relative;
        .chart-area {
          display: flex;
          @media screen and (max-width: $lg) {
            flex-direction: column;
            align-items: center;
          }
        }
        h3 {
          padding: 15px 0;
          padding-top: 0;
        }
        .chart-area {
          ._chart {
            width: 200px;
            margin-right: 25px;
            svg path:nth-child(1) {
              stroke: #00cd35;
            }
            svg path:nth-child(2) {
              stroke: $theme_bold-red;
            }
            svg path:nth-child(3) {
              stroke: $theme-green;
            }
            svg path:nth-child(4) {
              stroke: $theme_purple;
            }
            @media screen and (max-width: $lg) {
              margin-bottom: 15px;
            }
          }
          .chart-info-area {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: $lg) {
              margin-bottom: 10px;
            }
            * {
              @media screen and (max-width: $md) {
                margin-bottom: 2px;
              }
            }
            .color-info {
              padding: 10px 0;
              display: flex;
              align-items: center;
              @media screen and (max-width: $md) {
                flex-direction: column;
              }
              &:last-child {
                border: none;
              }
              &:nth-child(1n) {
                .colorBox {
                  background-color: #00cd35;
                }
              }
              &:nth-child(2n) {
                .colorBox {
                  background-color: #ff3131;
                }
              }
              &:nth-child(3n) {
                .colorBox {
                  background-color: #1bf2a3;
                }
              }
              &:nth-child(4n) {
                .colorBox {
                  background-color: #643df2;
                }
              }
              .colorBox {
                width: 20px;
                height: 20px;
                border-radius: 999px;
                margin-right: 7px;
                @media screen and (max-width: $md) {
                  margin-right: 0;
                }
              }
              label {
                font-weight: 600;
              }
              .this-month {
                padding-left: 15px !important;
              }

              .this-month,
              .daily-avg {
                padding: 0px 10px;
                font-size: 16px;
                font-weight: 600;
                span {
                  font-size: 15px;
                  font-weight: 500;
                  color: #838383;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes toLeftwithFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
