@import "../../default.scss";

.default-drawer {
  display: flex;
  position: fixed;
  left: 0;
  box-shadow: 5px 0 23px rgb(0 0 0 / 15%);
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: white;
  transform: translateY(0);
  flex-direction: column;
  z-index: 9999;
  border-radius: 25px 25px 0 0;
  transition: all 0.2s;
  &.active {
    transform: translateY(0);
    height: 400px;
  }
  @media screen and (min-width: $md) {
    flex-direction: row;
    width: 400px;
    height: 100%;
    border-radius: 0 25px 25px 0;
    top: 0;
    transform: translateX(-300px);
    box-shadow: 0 5px 23px rgb(0 0 0 / 15%);
    &.active {
      transform: translateX(0);
      height: 100%;
      nav {
        background: #ffffff;
        border-left: 2px solid #efefef;
        border-radius: 0;
      }
    }
  }
  .hidden-settings {
    flex: 1 1;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    @media screen and (min-width: $md) {
      order: 0;
    }
    .setting-item {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid #efefef;
      padding: 25px 0;

      &:last-child {
        border-bottom: none;
      }
      label {
        font-weight: 700;
        margin-right: 15px;
      }
      .currency-select {
        width: 150px;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        .currency {
          width: 100%;
          height: 60px;
          background: orange;
          border-radius: 999px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          color: #fff9ef;
          box-shadow: 0 5px 7px rgb(0 0 0 / 15%);
          &:hover {
            background: rgb(235, 153, 0);
          }
        }
        .currency_list {
          width: 100%;
          position: absolute;
          top: 70px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          transition: all 0.3s;
          &.toggleDown {
            animation: toggleDown 0.3s linear forwards;
          }
          &.toggleUp {
            animation: toggleUp 0.3s linear forwards;
          }
          li {
            width: 100%;
            height: 45px;
            margin-bottom: 10px;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 15px;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            font-weight: 800;
            border-radius: 10px;
            color: #ffffff;
            background: #08ff11;
            box-shadow: 0 5px 7px rgb(0 0 0 / 15%);
            &:hover {
              background: #06dd0e;
            }
          }
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-radius: 0 25px 25px 0;
    height: 100px;
    background-color: #fff;
    @media screen and (min-width: $md) {
      width: 100px;
      flex-direction: column;
      height: initial;
    }
  }
}

@keyframes toggleDown {
  from {
    max-height: 0px;
    opacity: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}

@keyframes toggleUp {
  from {
    max-height: 300px;
    opacity: 1;
  }
  to {
    max-height: 0px;
    opacity: 0;
  }
}
